{% extends "salika/auth_user_groups_base.html" %}

{% block title %}
    AuthUserGroupss
{% endblock %}

{% block content %}
    <h1>AuthUserGroupss</h1>
    <h2><a href={% url "salika:auth_user_groups_create" %}>Create new AuthUserGroups</a></h2>
    <ul>
    {% for auth_user_groups in auth_user_groups_list %}
        <li><a href={% url "salika:auth_user_groups_detail" auth_user_groups.pk %}>{{ auth_user_groups }}</a> | <a href={% url "salika:auth_user_groups_update" auth_user_groups.pk %}>Update</a> | <form style="display:inline;" action={% url "salika:auth_user_groups_delete" auth_user_groups.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ auth_user_groups }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No AuthUserGroupss yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

