{% extends "salika/city_base.html" %}

{% block title %}
    {{ city }}
{% endblock %}

{% block content %}
    <h1><a href={% url "salika:city_list" %}>City</a></h1>
    <h2>{{ city }} | <a href={% url "salika:city_update" city.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "salika:city_delete" city.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ city }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
