{% extends "salika/country_base.html" %}

{% block title %}
    {{ country }}
{% endblock %}

{% block content %}
    <h1><a href={% url "salika:country_list" %}>Country</a></h1>
    <h2>{{ country }} | <a href={% url "salika:country_update" country.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "salika:country_delete" country.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ country }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
