{% extends "salika/django_admin_log_base.html" %}

{% block title %}
    {{ django_admin_log }}
{% endblock %}

{% block content %}
    <h1><a href={% url "salika:django_admin_log_list" %}>DjangoAdminLog</a></h1>
    <h2>{{ django_admin_log }} | <a href={% url "salika:django_admin_log_update" django_admin_log.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "salika:django_admin_log_delete" django_admin_log.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ django_admin_log }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
