{% extends "salika/django_admin_log_base.html" %}

{% block title %}
    Update {{ django_admin_log }}
{% endblock %}

{% block content %}
<h1><a href={% url "salika:django_admin_log_list" %}>DjangoAdminLog</a></h1>
<h2>Update {{ django_admin_log }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "salika:django_admin_log_detail" django_admin_log.pk %}>Cancel</a>
<form style="display:inline;" action={% url "salika:django_admin_log_delete" django_admin_log.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ django_admin_log }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
