{% extends "salika/django_session_base.html" %}

{% block title %}
    DjangoSessions
{% endblock %}

{% block content %}
    <h1>DjangoSessions</h1>
    <h2><a href={% url "salika:django_session_create" %}>Create new DjangoSession</a></h2>
    <ul>
    {% for django_session in django_session_list %}
        <li><a href={% url "salika:django_session_detail" django_session.pk %}>{{ django_session }}</a> | <a href={% url "salika:django_session_update" django_session.pk %}>Update</a> | <form style="display:inline;" action={% url "salika:django_session_delete" django_session.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ django_session }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No DjangoSessions yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

