{% extends "salika/film_actor_base.html" %}

{% block title %}
    Update {{ film_actor }}
{% endblock %}

{% block content %}
<h1><a href={% url "salika:film_actor_list" %}>FilmActor</a></h1>
<h2>Update {{ film_actor }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "salika:film_actor_detail" film_actor.pk %}>Cancel</a>
<form style="display:inline;" action={% url "salika:film_actor_delete" film_actor.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ film_actor }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
