{% extends "salika/film_actor_base.html" %}

{% block title %}
    {{ film_actor }}
{% endblock %}

{% block content %}
    <h1><a href={% url "salika:film_actor_list" %}>FilmActor</a></h1>
    <h2>{{ film_actor }} | <a href={% url "salika:film_actor_update" film_actor.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "salika:film_actor_delete" film_actor.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ film_actor }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
