{% extends "salika/staff_base.html" %}

{% block title %}
    {{ staff }}
{% endblock %}

{% block content %}
    <h1><a href={% url "salika:staff_list" %}>Staff</a></h1>
    <h2>{{ staff }} | <a href={% url "salika:staff_update" staff.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "salika:staff_delete" staff.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ staff }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}
